cxf-interceptors/src/test/resources/test.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cxf-interceptors.touk.pl"
                  xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cxf-interceptors.touk.pl">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Webservice</wsdl:documentation>
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://cxf-interceptors.touk.pl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cxf-interceptors.touk.pl"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <s:element name="testRequest">
                <s:complexType>
                    <s:attribute name="request" type="s:string"/>
                </s:complexType>
            </s:element>
            <s:element name="testResponse">
                <s:complexType>
                    <s:attribute name="correlationId" type="s:string"/>
                    <s:attribute name="threadName" type="s:string"/>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="testSoapIn">
        <wsdl:part name="parameters" element="tns:testRequest"/>
    </wsdl:message>
    <wsdl:message name="testSoapOut">
        <wsdl:part name="correlationIdResponse" element="tns:testResponse"/>
    </wsdl:message>
    <wsdl:portType name="testWebServiceSoap">
        <wsdl:operation name="test">
            <wsdl:input message="tns:testSoapIn"/>
            <wsdl:output message="tns:testSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="testWebServiceSoap" type="tns:testWebServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="test">
            <soap:operation soapAction="http://cxf-interceptors.touk.pl/test" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="testWebService">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">TestWebservice</wsdl:documentation>
        <wsdl:port name="testWebServiceSoap" binding="tns:testWebServiceSoap">
            <soap:address location="http://localhost:8189/test"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
